<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>VideoGen Configurator</title>
		<meta name="description" content="The base HTML5 Bootstrap template">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	</head>
	<body>

		<!-- Add your site or application content here -->
		<div class="row" id="thumnbail">
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail">
					<img src="/home/blacknight/tmp/thumbnails/les_claypool.png" alt="Thumnbail">
				</a>
			</div>
		</div>
			
		<div class="row" id="videos_list">
			<div class="list-group">
				<a href="#" class="list-group-item active">Cras justo odio</a>
				<a href="#" class="list-group-item">Dapibus ac facilisis in</a>
				<a href="#" class="list-group-item">Morbi leo risus</a>
				<a href="#" class="list-group-item">Porta ac consectetur ac
					<div class="row">
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="/home/blacknight/tmp/thumbnails/les_claypool.png" alt="Thumnbail">
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="/home/blacknight/tmp/thumbnails/les_claypool.png" alt="Thumnbail">
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="/home/blacknight/tmp/thumbnails/les_claypool.png" alt="Thumnbail">
							</a>
						</div>
						<div class="col-xs-6 col-md-3">
							<a href="#" class="thumbnail">
								<img src="/home/blacknight/tmp/thumbnails/les_claypool.png" alt="Thumnbail">
							</a>
						</div>
					</div>
				</a>
				<a href="#" class="list-group-item">Vestibulum at eros</a>
			</div>	
		</div>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
</html>

